.div1{
    /* background-color: purple; */
    text-align: center;
}

.header1{
    /* background-color: yellow; */
    text-align: center;
}

.section1{
    /* background-color: green; */
    text-align: center;
}

.article1{
    /* background-color: red; */
    text-align: center;
}

.footer1{
    background-color: brown;
    text-align: center;
}

.nav1{
    background-color: grey;
    text-align: center;
}

h1, h2, body{
    margin: 0px;
}

button{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    max-width: 100%;
}

.textSize{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

a:hover{
    color: brown;
}